.hide{
    display: none;
}

.show{
    display: initial;
}

.active{
    background-color: #EBA70E !important;
}

.listR{
  li{
    color: #65645E;
    font-size: 15px;
    list-style: inside !important;
  }
}